html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrapper {
  display:flex;
  height: 100%;
}

#main {
    /* This makes the element grow and take all available space, not taken by the sidebar */
    flex-grow:1;
}

#sidebar {
    /* Give the sidebar a default width, and prevent it from shrinking */
    flex-shrink:0;
    width:300px;
    background: black;
    color: white;
}

#tallies {
  padding: 0 15px;
}

#map {
  height: 100%;
}

#radiusWrapper {
  padding: 15px 15px 0 15px;
}

input[type="range"] {
  background: white;
  padding: 3px;
  display: block;
}

@media all and (max-width: 800px) {

    #wrapper {
        flex-flow:column;
    }

    /* Make the sidebar take the entire width of the screen */

    #sidebar {
        width:auto;
    }

}